/* Booking Header Styles */
.bwp-your-bookings {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
}

.bwp-your-bookings h2 {
    font-size: var(--text-3xl);
    font-weight: 500;
    color: var(--gr-01);
    margin-bottom: var(--space-m);
}

.info-text .value i {
    margin-left: 5px;
    color: var(--be-03);
    cursor: pointer;
    transition: color 0.3s ease;
}

.info-text .value i:hover {
    color: var(--gr-01);
}

.info-text .value i.text-success {
    color: var(--success);
}

.booking-header {
    background: #E7E7E7;
    border-radius: var(--space-m);
    padding: var(--space-m);
    margin-bottom: var(--space-m);
}

.bwp-your-bookings .booking-info {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: var(--space-s);
    justify-content: space-between;
    box-shadow: none;
    background: transparent;
}

.info-group {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.info-group i {
    font-size: 20px;
    color: #4a90e2;
    margin-top: 3px;
}

.info-text {
    display: flex;
    flex-direction: column;
}

.info-text .label {
    font-size: var(--text-m);
    font-weight: 500;
    color: var(--gr-01);
    margin-bottom: var(--space-xs);
}

.info-text .value {
    font-size: var(--text-l);
    font-weight: 500;
    color: var(--gr-01);
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
}

.info-text .value i {
    font-size: var(--text-l);;
    color: var(--be-03);
    cursor: pointer;
    transition: color 0.2s;
}

.info-text .value i:hover {
    opacity: 0.8;
}

/* Price Summary Styles */
.price-summary {
    background: var(--light);
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: var(--space-m);
}

.price-summary h2 {
    font-size: var(--text-3xl);
    font-weight: 500;
    color: var(--gr-01);
    margin-bottom: var(--space-m);
}

.paid-by .label {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    color: var(--gr-01);
    font-size: var(--text-m);
    font-weight: 500;
    margin-bottom: var(--space-xs);
}

.payment-info {
    background: var(--bg-body);
    border-radius: var(--radius-m);
    padding: var(--space-m);
    color: var(--gr-01);
    font-size: var(--text-m);
}

.discount .label-group {
    display: flex;
    align-items: center;
    gap: 10px;
}
